/target/
**/*.rs.bk
.env

fbapp-elm/elm-stuff/
fbapp-elm/node_modules/

fbapp/static/
!fbapp/static/.gitkeep

.DS_Store
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
fbapp-client/test/unit/coverage
fbapp-client/test/e2e/reports
selenium-debug.log

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
